# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
C1_GuessTheNumber/C1_GuessTheNUmer/x64/Debug
C1_GuessTheNumber/x64/Debug
C2-chapter1SumAndCout/C2_SumAlternative2/x64/Debug
C2-chapter1SumAndCout/C2-chapter1SumAndCout/x64/Debug
*.sln
*.tlog
*.log
C2-chapter1SumAndCout/x64/Debug
*.user
*.vcxproj
Chapter3/GradeBookClassEx/x64/Debug
Chapter3/GradeBookHsepare/x64/Debug
Chapter3/x64/Debug
Chapter3/Ex3_11/x64/Debug
Chapter3/Chapter3/x64/Debug
*.suo
C2-chapter1SumAndCout/c2_e2_26/x64/Debug
C2-chapter1SumAndCout/c2_2_22/x64/Debug
C2-chapter1SumAndCout/C2_coutExample/x64/Debug
C2-chapter1SumAndCout/c2_e2_16/x64/Debug
C2-chapter1SumAndCout/c2_e2_18/x64/Debug
C2-chapter1SumAndCout/c2_e2_19/x64/Debug
C2-chapter1SumAndCout/c2_e2_20/x64/Debug
C2-chapter1SumAndCout/c2_e2_24_and2_25/x64/Debug
C2-chapter1SumAndCout/c2_e2_27/x64/Debug
C2-chapter1SumAndCout/C2_E2_28/x64/Debug
C2-chapter1SumAndCout/c2_e2_29/x64/Debug
C2-chapter1SumAndCout/c2-e2-3-h/x64/Debug
Chapter3/C3_Avarage/x64/Debug
*.vsidx
*.ipch
*.db
*.db-shm
*.db-wal
*.opendb
*.vsidx
*.db
Chapter3/Ex3_12/x64/Debug
Chapter3/C3_Ex3_13/x64/Debug
